* {
    box-sizing: border-box;
    font-size: 0;
}
section {
    width: 80%;
    margin: auto;
    margin-top: 60px;
}
.box {
    height: 100px;
    width: 100%;
    border: white solid 5px;
}
.First {
    height: 100px;
    padding: auto;
    border: 5px;
    background-color: violet;
    border-style: solid;
    border-color: white;
    
}

.Second{
    height: 100px;
    width: 25%;
    background-color: #EE2E84;
    display: inline-block;
    border-style: solid;
    border-color: white;
    
    
}   
.Third{
    height: 100px;
    width: 50%;
    background-color: aqua;
    display: inline-block;
    border-style: solid;
    border-color: white;
    
}
.Fourth{
    height: 100px;
    width: 75%;
    background-color: rgb(102, 233, 102);
    display: inline-block;
    border-style: solid;
    border-color: white;
    
}
.Fifth{
    height: 100px;
    width: 25%;
    background-color: orange;
    display: inline-block;
    border-style: solid;
    border-color: white;
    
}

@media only screen and (min-width: 768px) {
    .box{
        display: inline-block;
    }
    .First{
        width: 100%;
    }
    .Second{
        width: 25%;
    }
    .Third{
        width: 50%;
    }
    .Fourth{
        width: 75%;
    }
    .Fifth{
        width: 25%;
    }
 }